# Byte-compiled / optimized / DLL files
__pycache__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# macOS system files
.DS_Store

# frontend
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env


restaurant.csv
restaurant_utf8.csv
.DS_Store
.RData
.Rhistory
.env
embedding/embedded_data_check.csv
embedding/embedded_data_temp.csv
server/embedded_data.csv
venv/
__pycache__/

database_big/
